
#speedometer:before {
  background: #fbfbfb;
  border-radius: 100px 100px 0 0;
  box-shadow: 3px 1px 8px rgba(0,0,0, 0.15) inset;
  content: "";
  height: 50px;
  position: absolute;
  width: 100px;
  padding-bottom: 50px;
}

#speedometer {
  border-radius: 100px 100px 0 0;
  height: 50px;
  overflow: hidden;
  position: relative;
  width: 100px;
  padding-bottom: 50px;
}

#speedometer:after {
  background: radial-gradient(  #C0C0C0,  #808080,  #C0C0C0);
  border-radius: 70px 70px 0 0;
  bottom: 0;
  box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.15);
  color: #f3f3f3;
  content: attr(data-value);
  font-family: Arial;
  font-size: 0.8em;
  font-weight: 50;
  height: 35px;
  left: 15px;
  line-height: 47px;
  position: absolute;
  text-align: center;
  width: 70px;
  z-index: 3;
  padding-bottom: 50px;
}

#speedoNeedle {
  background: rgba(255, 40, 0, 0.7);
  border-radius: 4px;
  bottom: -4px;
  box-shadow: 3px -1px 4px rgba(0, 0, 0, 0.4);
  display: block;
  height: 4px;
  left: 5px;
  position: absolute;
  width: 45px;
  transform-origin: 100% 2px;
  transform: rotate(0deg);
  transition: all 1s;
  margin-bottom:50px;
}

/*#speedomater:hover #speedoNeedle {
  transform: rotate(180deg);
}*/